body {
    text-align: center;
    font-family: arial;
}

img {
    width: 500px;
}

ul {
    list-style: none;
    padding: 30px;
}

ol {
    color: #484848;
}

figcaption {
    font-size: 10px;
}


.navigation {
    background-color: #c4170c;
    color: white;
}

.navigation h1 {
    font-size: 40px;
}

.navigation h2 {
    background-color: #b0140a;
    color: white;
}

iframe {
    width: 600px;
    height: 400px;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}


.corpo-da-pagina {
    margin-top: 100px;
    margin-bottom: 300px;
}

.corpo-da-pagina {
    width: 800px;
    margin: auto;
    text-align: left;
}

.corpo-da-pagina h3 {
    font-size: 12px;
}

.corpo-da-pagina img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
