body {
    font-family: Arial, Helvetica, sans-serif;
}

.navigation {
    background-color: #ff7212;
    color: white;
    margin-left: 100px;
    padding-left: 20px;
}

.content {
    margin-left: 120px;
    margin-top: 50px;
    margin-bottom: 40px;
    width: 1000px;
}

.content h1 {
    font-size: 48px;
}

#data_hora_de_atualizao {
    font-size: 14px;
    font-weight: normal;
}

.content img {
    width: 600px;
}

.content figcaption {
    font-size: 12 px;
}

.content p {
    line-height: 30px;
    color: #484848;
}

.content ul {
    list-style: none;
    padding: 0px;
}

.content li {
    line-height: 30px;
}

.content a {
    color: #484848;
}